@import url(./normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Rosario:ital@0;1&display=swap');

body{width: 1920px;
    font-family: 'Rosario';}
.wrap{
        background-color: white;

    }
    li{
        list-style: none;
        margin-left: 23px;
        padding-left: 30px;
    }
    li :last-of-type{
        margin-right: 16px;
    }

header{

        background-color: black;
        color: #FFFCFC;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 36px;
        font-style: italic;
        position: sticky;
        top: 0;
        z-index: 2;
    }

header a{
    text-decoration: none;
    color: #FFFCFC;

}
.navi ul{
    display: flex;
justify-content: space-between;

}

.card__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__box_centre{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;

}
.card__box_left{
 margin-left: 43px;
}
.card__box_right{
 nav-right: 43px;
}
.up, .down{
    display: flex;
}
.up img{
    margin: 71px 9px 0 9px;
}
.down img{
    margin: 42px 9px 64px 9px;
}
.anime20{
    position: relative;
    transition: all 1s;
    animation: animationanime20 1s linear 1;
}
@keyframes animationanime20{
    from , to{
        top: 0;
        right: 0;
    }

    50%{
        right: 100%;

    }
}
.anime22{
    position: relative;
    transition: all 1s;
    animation: animationanime22 1s linear 1;
}
@keyframes animationanime22{
    from , to{
        top: 0;
        left: 0;
    }

    50%{
        left: 100%;

    }
}
.anime23{
    position: relative;
    transition: all 1s;
    animation: animationanime23 1s linear 1;
}
@keyframes animationanime23{
    from , to{
        top: 0;
        right: 0;
    }

    50%{
        right: 100%;

    }
}
.anime25{
    position: relative;
    transition: all 1s;
    animation: animationanime25 1s linear 1;
}
@keyframes animationanime25{
    from , to{
        top: 0;
        left: 0;
    }

    50%{
        left: 100%;

    }
}
.anime21{
    position: relative;
    transition: all 1s;
    animation: animationanime21 2s linear 1;
}
@keyframes animationanime21{
    from , to{
        top: 0;
        right: 0;
    }

    50%{
        right: 100%;

    }
}
.anime24{
    position: relative;
    transition: all 1s;
    animation: animationanime24 2s linear 1;
}
@keyframes animationanime24{
    from , to{
        top: 0;
        left: 0;
    }

    50%{
        left: 100%;

    }
}